body {
    font-family: 'Abril Fatface', 'Raleway';
}

h1 {
    font-size: 64px;
}

.index {
    z-index: 1;
    position: relative;
}

.columns h1 {
    z-index: 3;
    position: relative;
    text-align: center;
    color: white;
    line-height: 85px;
    margin-top: -620px;
}

header {
    min-height: 100%;
    position: relative;
    padding: 20px 0;
    vertical-align: middle;
}

section {
    min-height: 60%;
    position: relative;
    padding: 20px 0;
    vertical-align: middle;
}

.columns p {
    z-index: 3;
    position: relative;
    text-align: center;
    color: white;
}

.second {
    position: relative;
    background-color: aquamarine;
    font-size: 20px;
}

.second h3 {
    text-align: center;
}

.second p {
    line-height: 30px;
    color: #383838;
}

.third {
    position: relative;
    text-align: center;
    line-height: inherit;
    background: url('../assets/assets/s_image.jpg');
}

#contact {
    background: url('../assets/assets/s_image.jpg');
    text-align: center;
}

#contact input {
    height: 30px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
}

#contact table tbody {
    padding-left: 20%;
    background-color: transparent !important;
}

#contact textarea {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.fourth p {
    color: #000;
}